.formLogin{
    width: 80vw;
    height: 80vh;
    border-radius: 15px;   
}
.card{
    -webkit-box-shadow: -4px 7px 10px 9px rgba(17, 17, 26, 0.51);
    box-shadow: -4px 7px 10px 9px rgba(17, 17, 26, 0.51);
    width: 70vw;
}
.cardImagen{
    width: 35vw;
}
@media(min-width: 200px){
    .cardImagen{
        width: 60vw;
    }
}
@media(min-width: 576px){
    .cardImagen{
        width: 42vw;
    }
}
@media(min-width: 620px){
    .cardImagen{
        width: 36vw;
    }
}
@media(min-width: 768px){
    .cardImagen{
        width: 30vw;
    }
}
#btnLogin.btn{
    font-family: $fontFamily;
    background-color: map-get($map: $theme-colors, $key: 'primary');
    border-color: map-get($map: $theme-colors, $key: 'primary');
    cursor: pointer;
    color: aliceblue;
    &:hover{
        background-color: map-get($map: $theme-colors, $key: 'info');
        border-color: map-get($map: $theme-colors, $key: 'info');
    }
    &:active:focus{
        border-color: map-get($map: $theme-colors, $key: 'secondary');
        background-color: map-get($map: $theme-colors, $key: 'secondary');;
    }
}
h1.tituloLogin{
    font-family: $fontFamily;
    font-size: larger;
}
h5.subtituloLogin{
    font-family: $fontFamily;
    font-size: medium;
}
a.registroLogin{
    font-family: $fontFamily;
}
.redesInstagram svg{
    color: map-get($map: $theme-colors, $key: 'primary');
    width: 25px;
    height: 25px; 
}